<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>6-Day Forecast for NYC</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </head>
  <body>
<div class="container">
<h1>New York City 6-Day Forecast</h1>
<form method="POST" action="results">
<button class="btn btn-default" type="submit">Click here for your weather</button>
</form>
</div>
  </body>
</html>
